<div class="row">
    <div class="col-6 text-center">
        <button class="btn btn-info col-10">Анализ нового текста</button>
    </div>
    <div class="col-6 text-center">
        <button class="btn btn-info pt-2 col-10" (click)="router.navigate(['results'])">Выбрать уже готовый текст</button>
    </div>
</div>
<div>
    <h4 class="pt-3">
        Анализ нового текста
    </h4>

    <form>
        <textarea placeholder="Введите текст" class="col-12" name="text" id="text" style="height: 40vh" [(ngModel)]="text"></textarea>

        <div class="col-12" style="text-align: center !important;">
            <button class="btn btn-success pt-2 col-4" (click)="CreateNewText()">Анализировать</button>
        </div>
    </form>
</div>
<input type="file" id="file">
<div id="result"></div>

<app-preloader [isLoading]="isLoading"></app-preloader>
<result-component *ngIf="isShowResult" [resultId]="currentResultId"></result-component>
