<div [class]="groupClass">
    <label *ngIf="label" [for]="key" [class]="labelClass">{{label}}</label>
    <div [class]="controlClass">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
        </div>
        <input [type]="'password'"
               [id]="key"
               [ngModel]="value"
               (ngModelChange)="EmitValueChanged($event)"
               [ngClass]="GetInputClasses()"
               [placeholder]=placeholder
               [tabindex]="tabIndex || 0"
               #input
               cuiValidator
               cuiPasswordValidator
               [valueForRepeat]="valueForRepeat"
               [minLengthPassword]="minLengthPassword"
               [validations]="validations"
               [disabled]="isDisabled"
               autocomplete="off"
               [tooltip]="errorMessageInTooltip ? GetErrorMessage() : null"
        />
        <div class="invalid-feedback text-left" *ngIf="!errorMessageInTooltip">
            {{GetErrorMessage()}}
        </div>
    </div>
</div>
