@import "bootstrap-variables";

cui-data-table table {
  .form-control {
    border: none !important;
    box-shadow: none !important;
  }

  tr {
    .form-control.is-invalid {
      background-color: lighten($red, 20%) !important;
    }
  }

  tr.not-saved-item {
    .form-control {
      background-color: lighten($blue, 20%);
    }
  }

  tr.new-item {
    .form-control {
      background-color: lighten($gray-300, 20%);
    }
  }

  table {
    border-spacing: 0;
  }

  .custom-select {
    height: inherit !important;
  }
}
