<div class="form-group p-1" style="margin-bottom: 0 !important;">
    <div>
        <button
                [title]="'Настроить на карте'"
                [class]="'btn btn-info btn-sm btn-block'"
                (click)="OpenModalForEditPolygonOnMap(template)"
                [disabled]="isDisabled"
        >
            Выбрать на карте
        </button>
        <ng-template #template>
            <dynamic-container
                    [data]="{
                    olSpecialData: olSpecialData,
                    CRS: CRS,
                    key: key, value: value, changedByUser: changedByUser,
                    modalRef: modalRef
                }"
                    [componentClass]="olSpecialData.modalComponent"
            >
            </dynamic-container>
        </ng-template>
    </div>
</div>
