cui-data-table table .form-control {
  border: none !important;
  box-shadow: none !important; }

cui-data-table table tr .form-control.is-invalid {
  background-color: #fdcdcc !important; }

cui-data-table table tr.not-saved-item .form-control {
  background-color: #74cbea; }

cui-data-table table tr.new-item .form-control {
  background-color: #e1e7ea; }

cui-data-table table table {
  border-spacing: 0; }

cui-data-table table .custom-select {
  height: inherit !important; }
