<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Синтаксический и морфологический анализатор текста</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container" style="padding-left: 20%">
            <a class="navbar-brand">
                Синтаксический и морфологический анализатор текста
            </a>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3" style="min-height: 80vh">
        <router-outlet></router-outlet>
    </main>
</div>
</body>
</html>
